.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.logo-header {
  color: var(--primary-title-color);
}
.logo,
a {
  text-decoration: none;
}
